@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color1: #ff776f; /* Your desired color */
  --main-background-color2: #ffc876; /* Your desired color */
  --triangle-color: #ac6aff; /* Your desired color */
}
.letter {
  background-color: hsl(215, 100%, 51%);
  background-image: linear-gradient(
      -162deg,
      transparent 93%,
      hsl(182, 93%, 49%) 50%
    ),
    /* linear-gradient(45deg, #036bff 0.5rem, transparent.5rem 70%), */
      /* radial-gradient(ellipse at 80% 50%, rgb(0 0 0 / 50%)), */
      radial-gradient(
        circle at right bottom,
        transparent 8rem,
        hsl(208, 28%, 14%) 1rem
      );
}
